* {
    box-sizing: border-box;
}

html,
body {
    overscroll-behavior-y: contain;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    user-select: none;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial,
    sans-serif;
    position: fixed;
    overflow: hidden;
}

h1 {
    font-weight: 700;
    color: #515769;
    line-height: 1.4;
    margin: 0 0 7px;
}
h2, h3 {
    color: #515769;
    margin: 7px 0 15px;
}

#root {
    background-image: url('img/table.jpg');
    background-position: center;
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%;
    cursor: url('img/cursor.png') 39 39, default;
}

#root > div {
    position: absolute;
    width: 100vw;
    height: 100vh;
    will-change: transform;
    display: flex;
    align-items: center;
    justify-content: center;
}

#root > div > div {
    background: rgb(255, 253, 253);
    background-size: auto 85%;
    background-repeat: no-repeat;
    background-position: center center;
    width: 70vh;
    max-width: 500px;
    height: 90vh;
    max-height: 700px;
    will-change: transform;
    border-radius: 10px;
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.77), 0 10px 10px rgba(0, 0, 0, 0.75);
}


.page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

}

.promo-block-start {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-bottom: 1px solid rgba(0, 0, 0, 0.77);
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

.promo-block-boy {
    background-image: url('img/boy.png');
    background-size: auto 85%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    width: 300px;
    max-height: 300px;
    max-width: 340px;
}

.promo-block-info {
    margin-top: 25px;
}

.promo-block-title {
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.promo-block-text {
    font-family: Hind, sans-serif;
}

.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}

.list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}


.fa-3x {
    padding-right: 15px;
    color: #515769;
    cursor: url('img/cursor.png') 32 32, default;
}

.fa-3x:hover {
    color: #a2a9bf;
}

.list-inline-notice {
    width: 93%;
    border-top: 1px solid rgba(0, 0, 0, 0.77);
    color: #692e3a;
    margin-top: 25px;
    padding-top: 40px;
}


.info-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

.info-text p {
    background-color: rgba(255, 253, 182, 0.54);
    text-align: start;
    font-size: 15px;
    font-weight: 400;
    color: #959699;
    margin: 0 20px 0 20px;
    max-width: 60%;
    padding: 5px 0 5px 0;
    transition: .5s padding;
}

.info-text p:hover {
    padding: 10px 0 10px 0;
}

.info-text-block {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 0 20px 0 20px;
}


.full-with--coding {
    background-image: url('img/coding.png');
    background-size: auto 85%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100px;
    width: 100px;
    margin-left: 10px;
}

.full-with--hacking {
    background-image: url('img/hacking.png');
    background-size: auto 85%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100px;
    width: 100px;
    margin-right: 10px;
}

.full-with--design {
    background-image: url('img/design.png');
    background-size: auto 85%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100px;
    width: 100px;
    margin-left: 10px;
}

.skills {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.skills p {
    font-size: 15px;
    font-weight: 400;
    color: #a6a7aa;
    text-align: start;
}

.skill-frontend {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0 5px 0 5px;
    padding-bottom: 25px;
    border-bottom: 3px solid #aaa4a1;
}

.skill-frontend-part {
    background-color: rgba(243, 238, 206, 0.51);
    padding: 0 20px 0 20px;
    margin: 0 20px 0 20px;
    transition: .5s padding-top;
}

.skill-frontend-part:hover {
    padding-top: 10px;
}


.devider {
    background-image: url('img/design.png');
}



.skill-backend {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.skill-backend-part {
    background-color: rgba(237, 223, 222, 0.51);
    padding: 0 20px 0 20px;
    margin: 0 20px 0 20px;
    transition: .5s padding-top;
}

.skill-backend-part:hover {
    padding-top: 10px;
}
